/* Main Container height*/
.main-container {
    height: 100vh;
  }
  /* style Photo */
  .imgMe {
    /* filter: brightness(50%); */
    filter:brightness(50%)
  
}
  /* Aligning items in main row */
  .main_row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Changing Name Font sixe */
  .main_row h1 {
    font-size: 5rem;
  }
  
  /* Making the main image the size of the screen */
  .main_row img {
    width: auto;
    height: 100vh;
  }